{% block body %}
    <div class="news-readers-survey">
        <div class="form-body">
            <h5>{{ 'news.readers.survey.result.header'|trans }}</h5>
        </div>
        <div class="news-readers-survey-question">{{ question }}</div>
        <div>
            {% for key,answer in answers %}
                <div>{{ key }}</div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{ answer }}%;" aria-valuenow="{{ answer }}" aria-valuemin="0" aria-valuemax="100">{{ answer }}%
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}