{% block body %}
    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    {{ form_errors(form) }}
    <div class="news-readers-survey">
        <div class="form-body">
            <h5>{{ 'news.readers.survey.header'|trans }}</h5>
        </div>
        <div>
            {{ form_row(form.answers) }}
        </div>
        <div class="news-readers-survey-submit-container">
            {{ form_row(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}