{% block body %}

    <div class="news-readers-survey">
        <div class="form-body">
            <h5>{{ 'news.readers.survey.header'|trans }}</h5>
        </div>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="news-readers-survey-question">{{ question }}</div>
        <div>
            {% for answer in form.answers %}
                {{ form_widget(answer) }} {{ form_label(answer) }} <br>
            {% endfor %}
        </div>
        <div class="news-readers-survey-buttons">
            <div class="news-readers-survey-submit-container">
                {{ form_row(form.submit) }}
            </div>
            {{ form_end(form) }}
            <div class="news-readers-survey-result">
                <button class="btn btn-primary" id="showReadersSurveyResult" data-action="{{ showResult }}">Ergebnisse anzeigen</button>
            </div>
        </div>
    </div>
{% endblock %}