{% form_theme form '@HeimrichHannotContaoNews/forms/themes/bootstrap_4_layout.html.twig' %}

{% block body %}
    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    {{ form_errors(form) }}
    {% if form.archives is defined %}
        <div class="form-group f_archives">
            {{ form_widget(form.archives) }}
        </div>
    {% endif %}
    {% if form.datepicker is defined %}
        <div class="form-group input-group bs-datetimepicker">
            {{ form_widget(form.datepicker) }}
            <span class="input-group-addon calendar-icon"></span>
        </div>
    {% endif %}
    {% if form.datepicker_range is defined %}
        <div class="form-group input-group bs-datetimepicker">
            {{ form_widget(form.datepicker_range) }}
            <span class="input-group-addon calendar-icon"></span>
        </div>
    {% endif %}
    {% if form.fuzzy_string is defined %}
        <div class="input-group form-group-fuzzy form-group">
            {{ form_widget(form.fuzzy_string) }}
            <span class="input-group-btn">{{ form_widget(form.submit) }}</span>
        </div>
    {% endif %}
    {{ form_end(form) }}
{% endblock %}